<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="무료, 웹툰, 보기, 마음의소리, 좀비 딸, 돼지 우리, 용이 산다, 안전, 네이버, 만화, " />
    <title>완결된 유로 웹툰 무료보기 | free.webtoon.ga</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <header>
    <h1 class="korean-font" id="title">완결된 유로 웹툰 무료보기 - free.webtoon.ga </h1>
    <h3 class="korean-font" id="subtitle">추적X, 광고X, 유료X <a href="faq.html">자세하게 보기</a></h3>
    <input onkeyup="searchWt()" id="searchBar" placeholder="검색...">
  </header>
  <div id="vue">
    <div class="wt-container" id="wt-container" v-if="WebtoonData!==''" >
      <webtoontitle
        v-for="title in WebtoonData.webtoon.titles"
        v-bind:name="title"
        v-bind:koreanname="WebtoonData.webtoon.korean[title]"
      ></webtoontitle>
    </div>
    <p v-else>Loading...</p>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="/js/main.js"></script>
</body>
</html>
